<h1>Coordinates Lookup</h1>

<form>
    <div>
      <label for="address" >Please enter an address</label>
      <input name="address" type="text" id="first">
    </div>

      <div>
      <input type="submit" value="coordinates">

    </div>
    </form>

<dl>
  <dt>Address:</dt>
  <dd><%= @address %></dd>

  <dt>URL Safe Address:</dt>
  <dd><%= @url_safe_address %></dd>

  <dt>Latitude:</dt>
  <dd><%= @latitude %></dd>

  <dt>Longitude:</dt>
  <dd><%= @longitude %></dd>
</dl>
